<div class="d-flex align-items-center justify-content-between px-7 py-3 mb-5">
  <span class="fs-6 text-dark fw-normal me-2 ms-n5 cellDescription">{{
    cellDescription
  }}</span>
  <div
    class="d-flex border-top-1 mt-2 border-top-dashed border-gray-300 w-100"
  ></div>
  <div class="text-end ms-2 cellValue">
    <span class="fs-5 text-dark text-hover-primary fw-bold">
      <span>
        <span class="mx-1 text-{{ cellValueColor }}">
          {{ cellValueSymbol }} {{ cellValue }} {{ cellAsset }}
        </span>
      </span>
    </span>
  </div>
</div>
