<div class="pb-10 pb-lg-12">
  <h2 class="fw-bolder text-dark">Compensação com DEC</h2>
</div>

<div class="table-responsive">
  <table class="table table-row-bordered gy-7">
    <tbody *ngIf="invoiceCompensationDetails$ | async as _invoiceCompensationDetails">
      <tr>
        <td>
          <div class="ms-4">
            <div class="fs-3 fw-bold mb-2">Consumo compensável</div>
            <div class="text-muted fs-7 fw-bold">
              Quantidade de energia consumida segundo a fatura selecionada
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex mt-5 me-4 align-items-baseline">
            <div class="fs-1 text-gray-700 fw-bolder me-1">{{ _invoiceCompensationDetails.consumption | intToCurrency }}</div>
            <div class="fs-3 text-gray-700">{{ 'energy' | assetDescToAbbr }}</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="ms-4">
            <div class="fs-3 fw-bold mb-2">Saldo atual de DEC</div>
            <div class="text-muted fs-7 fw-bold">
              Quantidade de DECs disponíveis em sua carteira
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex mt-5 me-4 align-items-baseline">
            <div class="fs-1 text-gray-700 fw-bolder me-1">{{ _invoiceCompensationDetails.current_balance_crypto | intToCurrency }}</div>
            <div class="fs-3 text-gray-700">{{ 'crypto' | assetDescToAbbr }}</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="ms-4">
            <div class="fs-3 fw-bold mb-2">DEC complementares</div>
            <div class="text-muted fs-7 fw-bold">
              Quantidade de DECs necessários para complementar o abatimento do
              consumo da fatura selecionada
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex mt-5 me-4 align-items-baseline">
            <div class="fs-1 text-gray-700 fw-bolder me-1">{{ _invoiceCompensationDetails.complementary_crypto_used | intToCurrency }}</div>
            <div class="fs-3 text-gray-700">{{ 'crypto' | assetDescToAbbr }}</div>
          </div>
        </td>
      </tr>
      <tr class="table-light">
        <td>
          <div class="ms-4">
            <div class="fs-2 fw-bolder mb-2">Custo dos DEC</div>
            <div class="text-gray-700 fs-7 fw-bold">
              Valor a ser pago pelos DEC complementares para abatimento total do
              consumo compensável
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex mt-5 me-4 align-items-baseline">
            <div class="fs-3 text-gray-700 fw-bolder me-1">R$</div>
            <div class="fs-2x text-gray-900 fw-boldest">{{ _invoiceCompensationDetails.complementary_crypto_cost | intToCurrency:false }}</div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
