<div class="d-flex flex-wrap flex-stack">
  <div class="d-flex flex-column flex-grow-1 pe-8">
    <div class="d-flex flex-wrap">
      <div
        class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3"
      >
        <div class="d-flex align-items-center">
          <span
            [inlineSVG]="'./assets/media/icons/duotune/vatios/energy.svg'"
            class="svg-icon svg-icon-2x me-2"
          ></span>
          <div class="fs-2 fw-bolder">
            {{ energyAssetValue | intToCurrency: true }}
          </div>
        </div>

        <div class="fw-bold fs-6 text-gray-400">
          {{ 'energy' | assetDescToAbbr }}
        </div>
      </div>

      <div
        class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3"
      >
        <div class="d-flex align-items-center">
          <span
            [inlineSVG]="'./assets/media/icons/duotune/vatios/crypto.svg'"
            class="svg-icon svg-icon-2x me-2"
          ></span>
          <div class="fs-2 fw-bolder">
            {{ cryptoAssetValue | intToCurrency: true }}
          </div>
        </div>

        <div class="fw-bold fs-6 text-gray-400">
          {{ 'crypto' | assetDescToAbbr }}
        </div>
      </div>

      <div
        class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3"
      >
        <div class="d-flex align-items-center">
          <span
            [inlineSVG]="'./assets/media/icons/duotune/vatios/fiat.svg'"
            class="svg-icon svg-icon-2x me-2"
          ></span>
          <div class="fs-2 fw-bolder">
            R$ {{ fiatAssetValue | intToCurrency: false }}
          </div>
        </div>

        <div class="fw-bold fs-6 text-gray-400">
          {{ 'fiat' | assetDescToAbbr }}
        </div>
      </div>
    </div>
  </div>
</div>
