<div class="card mb-5 mb-xl-10">
  <div
    class="card-header border-0 cursor-pointer"
    role="button"
    data-bs-toggle="collapse"
  >
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Dados do perfil</h3>
    </div>
  </div>
  <div>
    <form [formGroup]="fg">
      <div class="card-body border-top p-9">
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
            >Nome e sobrenome</label
          >
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-6 fv-row">
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0 rounded-4"
                  placeholder="Ex: João"
                  formControlName="first_name"
                  mat-input
                />
              </div>
              <div class="col-lg-6 fv-row">
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid rounded-4"
                  placeholder="Ex: Silva"
                  formControlName="last_name"
                  mat-input
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span class="required">Telefone</span>
            <span class="text-muted ms-2 fs-7"
              >(Ex: +55 31 98888-8888)</span
            ></label
          >
          <div class="col-lg-8 fv-row">
            <input
              type="tel"
              class="form-control form-control-solid rounded-4"
              placeholder="Ex: +55 31 98888-8888"
              formControlName="phone"
              mat-input
              mask="+00 00 00000-0000"
              [showMaskTyped]="true"
            />
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span class="required">Estado e cidade</span></label
          >
          <div class="col-md-4 fv-row">
            <ng-select
              [items]="states$ | async"
              bindLabel="name"
              bindValue="id"
              (change)="selectedState($event)"
              formControlName="state_id"
            >
            </ng-select>
            <mat-error
              *ngIf="
                fg.get('state_id')?.errors?.required &&
                fg.get('state_id')?.dirty
              "
            >
              Campo obrigatório
            </mat-error>
          </div>
          <div class="col-md-4 fv-row">
            <ng-select
              [items]="cities$ | async"
              bindLabel="name"
              bindValue="id"
              formControlName="city_id"
            >
            </ng-select>
            <mat-error
              *ngIf="
                fg.get('city_id')?.errors?.required && fg.get('city_id')?.dirty
              "
            >
              Campo obrigatório
            </mat-error>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button
          type="button"
          class="btn btn-rounded btn-primary"
          [disabled]="isLoading"
          (click)="saveSettings()"
        >
          <ng-container *ngIf="!isLoading">Salvar alterações</ng-container>
          <ng-container *ngIf="isLoading">
            <span clas="indicator-progress" [style.display]="'block'">
              Aguarde...{{ ' ' }}
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </ng-container>
        </button>
      </div>
    </form>
  </div>
</div>
