<div
  class="stepper stepper-pills stepper-column d-flex flex-column flex-xl-row flex-row-fluid"
>
  <div
    class="card d-flex justify-content-center bg-white rounded-4 justify-content-xl-start flex-row-auto w-100 w-xl-300px w-xxl-400px me-9"
  >
    <div class="px-6 px-lg-10 px-xxl-15 py-20">
      <div class="stepper-nav">
        <div
          class="stepper-item"
          [ngClass]="{
            current: currentStep$.value === 1,
            completed: currentStep$.value > 1
          }"
        >
          <div class="stepper-line w-40px"></div>

          <div class="stepper-icon w-40px h-40px">
            <i class="stepper-check fas fa-check"></i>
            <span class="stepper-number">1</span>
          </div>

          <div class="stepper-label">
            <h3 class="stepper-title">Unidade consumidora</h3>
            <!-- <label *ngIf="updatedProcess?.consumerUnit">{{ updatedProcess.consumerUnit!.code | mask: '0/0000000000-0' }}</label> -->
          </div>
        </div>

        <div
          class="stepper-item"
          [ngClass]="{
            current: currentStep$.value === 2,
            completed: currentStep$.value > 2
          }"
        >
          <div class="stepper-line w-40px"></div>

          <div class="stepper-icon w-40px h-40px">
            <i class="stepper-check fas fa-check"></i>
            <span class="stepper-number">2</span>
          </div>

          <div class="stepper-label">
            <h3 class="stepper-title">Conta de energia</h3>
            <!-- <label *ngIf="updatedProcess?.userInvoice">{{ updatedProcess.userInvoice!.due_date | date: 'dd/MM/yyyy' }} R${{ updatedProcess.userInvoice!.value | intToCurrency:false }}</label> -->
          </div>
        </div>

        <div
          class="stepper-item"
          [ngClass]="{
            current: currentStep$.value === 3,
            completed: currentStep$.value > 3
          }"
        >
          <div class="stepper-line w-40px"></div>

          <div class="stepper-icon w-40px h-40px">
            <i class="stepper-check fas fa-check"></i>
            <span class="stepper-number">3</span>
          </div>

          <div class="stepper-label">
            <h3 class="stepper-title">
              Compensação com {{ 'crypto' | assetDescToAbbr }}
            </h3>
          </div>
        </div>

        <div
          class="stepper-item"
          [ngClass]="{
            current: currentStep$.value === 4,
            completed: currentStep$.value > 4
          }"
        >
          <div class="stepper-line w-40px"></div>

          <div class="stepper-icon w-40px h-40px">
            <i class="stepper-check fas fa-check"></i>
            <span class="stepper-number">4</span>
          </div>

          <div class="stepper-label">
            <h3 class="stepper-title">Resumo</h3>
          </div>
        </div>

        <div
          class="stepper-item"
          [ngClass]="{ current: currentStep$.value === 5 }"
        >
          <div class="stepper-line w-40px"></div>

          <div class="stepper-icon w-40px h-40px">
            <i class="stepper-check fas fa-check"></i>
            <span class="stepper-number">5</span>
          </div>

          <div class="stepper-label">
            <h3 class="stepper-title">Pagamento</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card d-flex flex-row-fluid flex-center bg-white rounded-4">
    <form class="py-20 w-100 w-xl-700px px-9">
      <div class="current">
        <ng-container *ngIf="currentStep$.value === 1">
          <app-step1
            class="w-100"
            [consumerUnits$]="consumerUnits$"
            [updateParentModel]="updateProcess"
          ></app-step1>
        </ng-container>

        <ng-container *ngIf="currentStep$.value === 2">
          <app-step2
            class="w-100"
            [invoices$]="invoices$"
            [updateParentModel]="updateProcess"
          ></app-step2>
        </ng-container>

        <ng-container *ngIf="currentStep$.value === 3">
          <app-step3
            class="w-100"
            [invoiceCompensationDetails$]="invoiceCompensationDetails$"
          ></app-step3>
        </ng-container>

        <ng-container *ngIf="currentStep$.value === 4">
          <app-step4
            class="w-100"
            [invoiceCompensationDetails$]="invoiceCompensationDetails$"
          ></app-step4>
        </ng-container>

        <ng-container *ngIf="currentStep$.value === 5">
          <app-step5
          class="w-100"
          [updateParentModel]="updateProcess"
          ></app-step5>
        </ng-container>

        <ng-container *ngIf="currentStep$.value === 6">
          <app-step6 class="w-100"></app-step6>
        </ng-container>
      </div>

      <div class="d-flex flex-stack pt-10">
        <div class="mr-2">
          <ng-container
            *ngIf="
              currentStep$.value !== 1
            "

          >
          <!-- currentStep$.value !== 1 && currentStep$.value !== formsCount -->
            <button
              type="button"
              class="btn btn-rounded btn-lg btn-light-primary me-3"
              (click)="prevStep()"
            >
              <span
                [inlineSVG]="'./assets/media/icons/duotune/arrows/arr063.svg'"
                class="svg-icon svg-icon-4 me-1"
              ></span>
              Voltar
            </button>
          </ng-container>
        </div>

        <ng-container *ngIf="currentStep$.value !== formsCount">
          <div>
            <button
              type="button"
              class="btn btn-rounded btn-lg btn-primary me-3"
              [disabled]="!isCurrentFormValid$.value"
              (click)="currentStep$.value !== 5 ? nextStep() : finished()"
            >
              <span class="indicator-label">
                <ng-container *ngIf="currentStep$.value < formsCount - 1">
                  Avançar
                  <span
                    [inlineSVG]="
                      './assets/media/icons/duotune/arrows/arr064.svg'
                    "
                    class="svg-icon svg-icon-3 ms-2 me-0"
                  ></span>
                </ng-container>
                <ng-container *ngIf="currentStep$.value === formsCount - 1">
                  Efetuar pagamento
                </ng-container>
              </span>
            </button>
          </div>
        </ng-container>
      </div>
    </form>
  </div>
</div>
