.sidenav {
  background-color: #2f3542f4;
  width: 200px;
}

.sidenav a {
    color: #FFF;
    font-family: Poppins, Helvetica, 'sans-serif' !important;
    font-size: 1.1rem;
}

.sidenav i {
    padding-right: 10px;
}
