<div class="card pt-2 pb-10">
  <div
    class="position-absolute top-0 end-0 opacity-25 m-10 pe-2 text-end d-none d-md-block"
  >
    <i class="las la-calculator fs-5tx"></i>
  </div>
  <div class="card-header border-0">
    <div class="card-title">
      <h3 class="fw-bolder m-0">Plano mensal de créditos</h3>
    </div>
  </div>
  <div class="card-body pt-2 pb-15">
    <div class="row g-xl-12">
      <div class="col-12">
        <div class="border border-gray-300 border-dashed rounded py-3 px-4">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <span
                [inlineSVG]="'./assets/media/icons/duotune/abstract/abs027.svg'"
                class="svg-icon svg-icon-4x svg-icon-primary"
              ></span>
              <span class="fs-4 ms-2">Plano de créditos vigente</span>
            </div>
            <div class="d-flex align-items-center">
              <span class="fs-1 fw-boldest">-</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-xl-12 mt-10 justify-content-center">
      <div class="col-lg-4">
        <span class="fs-4 fw-bold text-gray-700"
          >Quantidade mensal desejada de tokens
          <strong class="text-primary fw-boldest">{{
            'crypto' | assetDescToAbbr
          }}</strong>
        </span>
        <div
          class="d-flex border border-gray-300 align-items-center min-w-125px rounded px-10 py-2 my-4 justify-content-between"
        >
          <input
            class="form-control border-0 text-end fs-2hx fw-bolder"
            placeholder="100"
            value="100"
            #inputfield
            (focus)="inputfield.value = ''"
            [(ngModel)]="input"
            (keyup)="updateAllTotals()"
            (change)="updateAllTotals()"
          />
          <span class="fs-1 text-gray-500">{{
            'crypto' | assetDescToAbbr
          }}</span>
        </div>
      </div>
    </div>
    <div class="row g-xl-12 mt-20">
      <div class="col-xl-4 my-2">
        <div class="d-flex h-100 align-items-center">
          <div
            class="w-100 d-flex flex-column flex-center rounded-3 bg-gray-100 py-15 px-10"
          >
            <div class="mb-7 text-center">
              <h1 class="text-dark mb-5 fw-boldest">Mensal</h1>
              <div class="text-gray-400 fw-bold">
                Valor unitário do {{ 'crypto' | assetDescToAbbr }} neste plano:
                <span class="fw-bolder">R$ 0,90</span>
              </div>
            </div>
            <div
              class="separator separator-dotted separator-content border-secondary my-10 w-75"
            >
              <i class="bi bi-x-diamond-fill text-secondary fs-5"></i>
            </div>
            <div class="text-center">
              <span class="fs-3x fw-bolder text-primary" id="1-month-price"
                >R$ {{ firstPlanTotal }}</span
              >
              <span class="fs-4 fw-lighter opacity-50">/mês</span>
            </div>
            <div
              class="separator separator-dotted separator-content border-secondary my-10 w-75"
            >
              <i class="bi bi-x-diamond-fill text-secondary fs-5"></i>
            </div>
            <button
              class="btn btn-rounded btn-sm btn-primary text-uppercase fs-2 w-100 my-10 subscribe-button"
            >
              Assinar
            </button>
            <div class="text-gray-400 fw-bold mt-5 text-center">
              Este plano é automaticamente <br />
              renovado a cada mês
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 my-2">
        <div class="d-flex h-100 align-items-center">
          <div
            class="w-100 d-flex flex-column flex-center rounded-3 bg-gray-100 py-20 px-10"
          >
            <div class="mb-7 text-center">
              <h1 class="text-dark mb-5 fw-boldest">Semestral</h1>
              <div class="text-gray-400 fw-bold">
                Valor unitário do {{ 'crypto' | assetDescToAbbr }} neste plano:
                <span class="fw-bolder">R$ 0,88</span>
              </div>
            </div>
            <div
              class="separator separator-dotted separator-content border-secondary my-10 w-75"
            >
              <i class="bi bi-x-diamond-fill text-secondary fs-5"></i>
            </div>
            <div class="text-center">
              <span class="fs-3x fw-bolder text-primary" id="6-month-price"
                >R$ {{ secondPlanTotal }}</span
              >
              <span class="fs-4 fw-lighter opacity-50">/mês</span>
            </div>
            <div
              class="separator separator-dotted separator-content border-secondary my-10 w-75"
            >
              <i class="bi bi-x-diamond-fill text-secondary fs-5"></i>
            </div>
            <button
              class="btn btn-rounded btn-sm btn-primary text-uppercase fs-2 w-100 my-10 subscribe-button"
            >
              Assinar
            </button>
            <div class="text-gray-400 fw-bold mt-5 text-center">
              Este plano é automaticamente <br />
              renovado a cada 6 meses
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 my-2">
        <div class="d-flex h-100 align-items-center">
          <div
            class="w-100 d-flex flex-column flex-center rounded-3 bg-gray-100 py-15 px-10"
          >
            <div class="mb-7 text-center">
              <h1 class="text-dark mb-5 fw-boldest">Anual</h1>
              <div class="text-gray-400 fw-bold">
                Valor unitário do {{ 'crypto' | assetDescToAbbr }} neste plano:
                <span class="fw-bolder">R$ 0,86</span>
              </div>
            </div>
            <div
              class="separator separator-dotted separator-content border-secondary my-10 w-75"
            >
              <i class="bi bi-x-diamond-fill text-secondary fs-5"></i>
            </div>
            <div class="text-center">
              <span class="fs-3x fw-bolder text-primary" id="12-month-price"
                >R$ {{ thirdPlanTotal }}</span
              >
              <span class="fs-4 fw-lighter opacity-50">/mês</span>
            </div>
            <div
              class="separator separator-dotted separator-content border-secondary my-10 w-75"
            >
              <i class="bi bi-x-diamond-fill text-secondary fs-5"></i>
            </div>
            <button
              class="btn btn-rounded btn-sm btn-primary text-uppercase fs-2 w-100 my-10 subscribe-button"
            >
              Assinar
            </button>
            <div class="text-gray-400 fw-bold mt-5 text-center">
              Este plano é automaticamente <br />
              renovado a cada 12 meses
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
