.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  background-color: #ecf0f1;
}

.footer > span {
  font-weight: 300;
  color: #7f8c8d;
  font-family: Poppins, Helvetica, 'sans-serif' !important;
  font-size: 1rem;
}
